<footer class="d-flex flex-wrap justify-content-between align-items-center border-top">
    <p class="col-md-4 text-muted">© 2021 EdaTürkay, Inc.</p>

    <a href="/"
        class="col-md-4 d-flex align-items-center justify-content-centerme-md-auto link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
        </svg>
    </a>

    <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Anasayfa</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Yenilikler</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Mağaza</a></li>
        <li class="nav-item"><a href="../contact" class="nav-link px-2 text-muted">İletişim</a></li>
    </ul>
</footer>