<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../img/main/coffeeLogo.jpg" alt="" width="30" height="24">
            <span>Coffee</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse row" id="navbarSupportedContent">
            <div class="elements col-9">
                <ul class="navbar-nav row" id="navList">
                    <div class="col li-0" id="navElement">
                        <li class="nav-item text-center">
                            <a class="nav-link active" aria-current="page" href="/"><span>Anasayfa</span></a>
                        </li>
                    </div>
                    <div class=" col li-0" id="navElement">
                        <li class="nav-item dropdown text-center">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <span>Dünya Kahveleri</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item subMenuItem"
                                        href="../coffeevariety/latinamerica"><span>Latin
                                            Amerika</span></a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item subMenuItem"
                                        href="../coffeevariety/africa"><span>Afrika</span></a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item subMenuItem" href="../coffeevariety/asia"><span>Asya
                                            Pasifik</span></a></li>
                            </ul>
                        </li>
                    </div>
                    <div class="col li-0" id="navElement">
                        <li class="nav-item dropdown text-center">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <span>Demleme Çeşitleri</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item subMenuItem" href="../brewtype/frenchpress"><span>French
                                            Press</span></a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item subMenuItem" href="../brewtype/v60"><span>V60</span></a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item subMenuItem"
                                        href="../brewtype/chemex"><span>Chemex</span></a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item subMenuItem" href="../brewtype"><span><b>
                                                Tümünü
                                                Listele
                                            </b></span></a>
                                </li>
                            </ul>
                        </li>
                    </div>
                    <div class="col li-0" id="navElement">
                        <li class="nav-item text-center">
                            <a class="nav-link disabled"><span>Mağaza</span></a>
                        </li>
                    </div>
                    <div class="col li-0" id="navElement">
                        <li class="nav-item text-center">
                            <a class="nav-link" aria-current="page" href="../contact"><span>İletişim</span></a>
                        </li>
                    </div>
                </ul>
            </div>
            <div class="search col-3">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Aramak için yazın" aria-label="Search">
                    <button id="search" class="btn btn1" type="submit">Ara</button>
                </form>
            </div>
        </div>
    </div>
</nav>