<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Demleme Çeşitleri</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/app.css">
  <link rel="stylesheet" href="../css/allBrewTypes.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">
</head>

<body>
  <%- include("partials/navCommon") %>

    <div class="contactBanner">
      <span>Demleme Çeşitleri</span>
    </div>

    <hr class="dotted">

    <div class="card-group group1">
      <div class="card">
        <img src="../img/brew/aeropress.jpg" class="cardImg card-img-top" alt="Aeropress Demleme Resmi">
        <div class="card-body">
          <h5 class="card-title">AeroPress Demleme</h5>
          <p class="card-text">Aeropress, yoğun aromalı, içimi kolay ve düşük asitli kahve hazırlamanızı sağlayan yapısı ile kahvenizi yüksek basınçla demlemenizi sağlayan bir kahve demleme aparatıdır.</p>
          <div class="cardButton"> <a href="../brewtype/aeropress" class="hbtn hb-fill-right">Devamını Oku</a></div>
        </div>
      </div>
      <div class="card">
        <img src="../img/brew/chemex.jpg" class="cardImg card-img-top" alt="Chemex Demleme Resmi">
        <div class="card-body">
          <h5 class="card-title">Chemex Demleme</h5>
          <p class="card-text">Chemex, büyük ölçüde pürüzsüz bir tasarım, kullanım kolaylığı ve bardağa getirdiği kavrulmuş kahve aromalarının birleşimi nedeniyle bugüne kadar klasik, en sevilen kahve demleyicilerinden biri olmaya devam ediyor.</p>
          <div class="cardButton"> <a href="../brewtype/chemex" class="hbtn hb-fill-right">Devamını Oku</a></div>
        </div>
      </div>
      <div class="card">
        <img src="../img/brew/french_press.jpg" class="cardImg card-img-top" alt="French Press Demleme Resmi">
        <div class="card-body">
          <h5 class="card-title">French Press Demleme</h5>
          <p class="brewText card-text">French press kahve yoğun ve ağırdır, ancak kendine has bir zarafete sahiptir.</p>
          <div class="cardButton"> <a href="../brewtype/frenchpress" class="hbtn hb-fill-right">Devamını Oku</a></div>
        </div>
      </div>
    </div>

    <div class="card-group group2">
      <div class="card">
        <img src="../img/brew/mokapot.jpg" class="cardImg card-img-top" alt="Moka Pot Demleme Resmi">
        <div class="card-body">
          <h5 class="card-title">Moka Pot Demleme</h5>
          <p class="card-text">Moka pot, kahveyi hızlı bir şekilde demleyen basit bir alettir ve ayrıca temizlenmesi de oldukça kolaydır.</p>
          <div class="cardButton"> <a href="../brewtype/mokapot" class="hbtn hb-fill-right">Devamını Oku</a></div>
        </div>
      </div>
      <div class="card">
        <img src="../img/brew/syphon.jpg" class="cardImg card-img-top" alt="Syphon Demleme Resmi">
        <div class="card-body">
          <h5 class="card-title">Syphon Demleme</h5>
          <p class="card-text">Sifon, hassas, çay benzeri bir fincan kahve üretebilir.</p>
          <div class="cardButton"><a href="../brewtype/syphon" class="hbtn hb-fill-right">Devamını Oku</a></div>
        </div>
      </div>
      <div class="card">
        <img src="../img/brew/v60.jpg" class="cardImg card-img-top" alt="V60 Demleme Resmi">
        <div class="card-body">
          <h5 class="card-title">V60 Demleme</h5>
          <p class="card-text">V60, sağladığı esneklik ve özgürlük nedeniyle profesyoneller ve kahve severler tarafından sevilen bir demleme aparatıdır.</p>
          <div class="cardButton"> <a href="../brewtype/v60" class="hbtn hb-fill-right">Devamını Oku</a></div>
        </div>
      </div>
    </div>

    <hr class="dotted">

    <%- include("partials/footerCommon") %>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>

</html>