<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../css/brewType.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <%- include("partials/navCommon") %>

        <div class="contactBanner">
        </div>

        <hr>

        <div class="brewContent d-flex">
            <div class="col-8">
                <div class="imgDiv">
                    <img src=<%=imgPath %> alt="Demleme Resmi">
                    <!-- klasöre eklenen diğer fotolar ile denendi -->
                    <!-- https://www.geeksforgeeks.org/how-to-auto-resize-an-image-to-fit-a-div-container-using-css/ -->
                </div>
                <div class="brewText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sed magnam, enim
                    ipsam
                    inventore, molestiae quae, necessitatibus neque esse dolor voluptatibus. Doloribus sint consectetur
                    blanditiis accusantium obcaecati, cum quae soluta.
                    Explicabo temporibus eligendi numquam incidunt iure earum inventore accusamus laudantium at
                    laboriosam
                    sapiente quaerat, magni unde delectus optio quis, voluptate veritatis deserunt? Sequi veritatis
                    quaerat
                    quia fuga fugiat totam aperiam.
                    Consequatur ad illo doloremque pariatur nesciunt modi quis reprehenderit? Earum cum impedit rerum at
                    iste repudiandae consectetur molestiae vero. Ipsum cupiditate sint ex animi, dolore repudiandae!
                    Magnam,
                    dicta voluptatum! Quo.</div>
            </div>
            <div class="col-4">
                <div id="suggestTitle">
                    <h5><b>Şunlara da bakabilirsiniz:</b></h5>
                </div>
                <div class="suggestedBrew">
                    <a class="d-flex justify-content-center" href="http://">
                        <img class="suggestImg" src="../img/brew/chemex.jpg" alt="Chemex Demleme"></a>
                    <div class="suggestText">Chemex Demleme</div>
                </div>
                <div class="suggestedBrew">
                    <a class="d-flex justify-content-center" href="http://">
                        <img class="suggestImg" src="../img/brew/french_press.jpg" alt="French Press Demleme">
                    </a>
                    <div class="suggestText">French Press Demleme</div>
                </div>
                <div class="suggestedBrew">
                    <a class="d-flex justify-content-center" href="http://">
                        <img class="suggestImg" src="../img/brew/v60.jpg" alt="V60 Demleme">
                    </a>
                    <div class="suggestText">V60 Demleme</div>
                </div>
            </div>
        </div>

        <%- include("partials/footerCommon") %>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
                crossorigin="anonymous"></script>
</body>

</html>