<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="img/main/coffeeLogo.jpg" alt="" width="30" height="24">
                <span>Coffee</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse row" id="navbarSupportedContent">
                <div class="col-9">
                    <ul class="navbar-nav row" id="navList">
                        <div class="col li-0" id="navElement">
                            <li class="nav-item text-center">
                                <a class="nav-link active" aria-current="page" href="/"><span>Anasayfa</span></a>
                            </li>
                        </div>
                        <div class=" col li-0" id="navElement">
                            <li class="nav-item dropdown text-center">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <span>Dünya Kahveleri</span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item subMenuItem" href="#"><span>Latin
                                                Amerika</span></a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item subMenuItem" href="#"><span>Afrika</span></a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item subMenuItem" href="#"><span>Asya Pasifik</span></a></li>
                                </ul>
                            </li>
                        </div>
                        <div class="col li-0" id="navElement">
                            <li class="nav-item dropdown text-center">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <span>Demleme Çeşitleri</span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item subMenuItem" href="#"><span>French Press</span></a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item subMenuItem" href="#"><span>V60</span></a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item subMenuItem" href="#"><span>Chemex</span></a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item subMenuItem" href="#"><span>Tümünü Listele</span></a>
                                    </li>
                                </ul>
                            </li>
                        </div>
                        <div class="col li-0" id="navElement">
                            <li class="nav-item text-center">
                                <a class="nav-link disabled"><span>Mağaza</span></a>
                            </li>
                        </div>
                        <div class="col li-0" id="navElement">
                            <li class="nav-item text-center">
                                <a class="nav-link" aria-current="page" href="contact"><span>İletişim</span></a>
                            </li>
                        </div>
                    </ul>
                </div>
                <div class="col-3">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Aramak için yazın"
                            aria-label="Search">
                        <button id="search" class="btn btn1" type="submit">Ara</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>

    <div class="row align-items-center introSection">
        <img class="mainPageImg col-6" src="img/main/mainImg1.jpg" alt="ÇekirdekliKahveResmi">
        <span class="mainPageRightText col-6">
            <h2>Lorem Ipsum</h2>
            <img class="coffeeBean" src="img/main/coffeeBean.png" alt="">
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, quis
                cumque? Ratione ea, eaque nemo officiis recusandae atque deleniti laudantium odit ab! Labore vitae
                expedita
                laborum fugiat? Velit, tenetur dolor!
                Non ut voluptate neque doloribus sequi saepe dicta quasi consectetur unde suscipit! Atque qui quo
                exercitationem et eveniet, deserunt autem ex dicta alias! Consequuntur placeat quisquam officiis aliquam
                nemo ipsa!
            </div>
        </span>
    </div>
    <div class="row align-items-center countryCoffeeSection">
        <span class="mainPageLeftText col-6">
            <h2>Lorem Ipsum</h2>
            <img class="coffeeBean" src="img/main/coffeeBean.png" alt="">
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, quis
                cumque? Ratione ea, eaque nemo officiis recusandae atque deleniti laudantium odit ab! Labore vitae
                expedita
                laborum fugiat? Velit, tenetur dolor!
                Non ut voluptate neque doloribus sequi saepe dicta quasi consectetur unde suscipit! Atque qui quo
                exercitationem et eveniet, deserunt autem ex dicta alias! Consequuntur placeat quisquam officiis aliquam
                nemo ipsa!
            </div>
        </span>
        <img class="mainPageImg col-6" src="img/main/mainImg2.jpg" alt="ÇekirdekliKahveResmi">
    </div>

    <h3 id="suggestTitle" class="d-flex justify-content-center">Popüler Yöresel Kahveler</h3>

    <div class="suggestSection-Parent">
        <div class="suggestSection">
            <div class="suggestion_img">
                <div class="d-flex justify-content-center">
                    <img src="img/main/brazil.jpg" alt="Brezilya Kahvesi">
                </div>
                <div class="d-flex justify-content-center">
                    <img src="img/main/ethiopia.jpg" alt="Etiyopya Kahvesi">
                </div>
                <div class="d-flex justify-content-center">
                    <img src="img/main/colombia.jpg" alt="Kolombiya Kahvesi">
                </div>
            </div>
        </div>

        <div id="suggest_btn" class="align-items-center suggestSection d-flex justify-content-around">
            <a class="hbtn hb-fill-right" href="#">Brezilya Kahvesi</a>
            <a class="hbtn hb-fill-right" href="#">Etiyopya Kahvesi</a>
            <a class="hbtn hb-fill-right" href="#">Kolombiya Kahvesi</a>
        </div>
    </div>

    <footer class="d-flex flex-wrap justify-content-between align-items-center border-top">
        <p class="col-md-4 text-muted">© 2021 EdaTürkay, Inc.</p>

        <a href="/"
            class="col-md-4 d-flex align-items-center justify-content-centerme-md-auto link-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"></use>
            </svg>
        </a>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Anasayfa</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Yenilikler</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Mağaza</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">İletişim</a></li>

        </ul>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>

</html>