.group1 {
    margin-top: 15px;
}

.cardImg {
    height: 350px;
}

@media (max-width: 576px) {
    .card-group>.card {
        margin-bottom: 0;
    }
}

.cardButton {
    position: absolute;
    bottom: 0;
}