.group1 {
    margin-top: 15px;
}

.cardImg {
    height: 350px;
}

.cardButton {
    position: absolute;
    bottom: 0;
}

.card-body {
    height: 15rem;
}

@media (max-width: 1137px) {
    .card-body {
        height: 20rem;
    }
}

@media (max-width: 724px) {
    .card-body {
        height: 22rem;
    }

    .cardImg {
        height: 250px;
    }

    .contactBanner > span{
        font-size: 50px;
    }
}

@media (max-width: 628px) {
    .card-body {
        height: 26rem;
    }
}

@media (max-width: 576px) {
    .card-group>.card {
        margin-bottom: 0;
    }

    .card-body {
        height: 13rem;
    }

    .cardImg {
        height: 325px;
    }
} 

