body{
    background-color: #eeba93;
    /* font-family: 'Assistant', sans-serif; */
    font-family: 'Oxygen', sans-serif;
}

#navElement > li {
    border-right: 1px solid black;
}

/* Navbardaki elemanların üstüne gelince için */
#navElement > li > a > span:hover {
    border: 3px solid #681a1e;
    padding: 3%;
    color:#681a1e;
}

/* Navbar elemanlar arası paddingi kaldır */
.li-0 {
    padding: 0px !important;
}

/* Navbarda küçük ekran dışında dropdown listeleri ortala */
@media (min-width: 992px) {
    .dropdown-menu-center {
        left: 50% !important;
        right: auto !important;
        text-align: center !important;
        transform: translate(-50%, 0) !important;
    } 
}

.mainPageImg {
    width: 40%;
    margin: 2.5% 5%;
    border-radius: 5%;
    box-shadow: 10px 10px 5px #681a1e;
    padding: 0%;
}

.coffeeBean{
    width: 7%;
    margin: 2% 2%;
}

.mainPageRightText {
    text-align: center;
    padding-right: 5%;
}

.mainPageLeftText {
    text-align: center;
    padding-left: 5%;
}

.introSection, .countryCoffeeSection{
    margin: 0%;
} 

@media (max-width: 576px) {

    .introSection {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
    }

    .countryCoffeeSection {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 10%;
    }

    .mainPageRightText, .mainPageLeftText {
        padding: 0% 5%;
        margin-top: 5%;
        width: 100%;
    }

    .mainPageImg {
        width: 75%;
    }

    #suggest_btn{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #suggest_btn > a{
        width: 75%;
    }

    .suggestSection > div{
        display: flex;
        flex-direction: column;
    }

    .suggestSection{
        width: 50%;
    }

    .suggestion_img{
        align-items: center;
    }

    .suggestSection-Parent{
        display: flex;
        flex-direction: row;
    }

}

#suggestTitle{
    font-weight: 700;
}

.suggestion_img{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
} 

.suggestion_img > div > img{
    width: 75%;
    margin: 1.5%;
    border-radius: 5%;
} 

.suggestSection{
    margin: 3% 0%;
}

footer{
    background-color: white;
    padding: 2% 3%;
}