.mainContent {
    display: flex;
    flex-direction: row;
    padding: 2%;
}

.imgCountry{
    width: 50%;
    height: auto;
}

.imgCountry>img {
    width: 90%;
    height: 525px;
    margin: 25px 20px 0px 20px; 
    border-radius: 5%;
    box-shadow: 10px 10px 5px #681a1e;
}

.textCountry{
    padding: 35px 20px 10px 30px; 
}

.textCountry h1 {
    margin-bottom: 5%;
}

.countrySuggest {
    width: 100%;
}

.countrySuggest > div{
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.countrySuggest > div > img{
    width: 55%;
    height: 300px;
    margin: 20px;
    border-radius: 5%;
    box-shadow: 0px 10px 5px #681a1e;
    transition: transform 0.5s;
}

.countrySuggest > div > img:hover {
    transform: scale(1.05);
}

.countrySuggest > div > a{
    margin-top: 10px;
    width: 30%;
}

@media (max-width: 975px) {
    .countrySuggest {
        width: 100%;
    }

    .countrySuggest > div > img{
        height: 200px !important;
        width: 250px !important;
        margin-bottom: 30px !important;
    }

    .countrySuggest > div > a {
        width: 150px;
    }
}

@media (max-width: 785px) {
    .mainContent {
        flex-direction: column;
    }

    .imgCountry {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .imgCountry > img {
        width: 75%;
        height: 425px;
    }

    .textCountry {
        width: 100%;
    }

    .countrySuggest{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }

    .countrySuggest > div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 300px;
        margin: 0%;
    }

    .countrySuggest > div > img{
        height: 250px;
        width: 250px;
        margin: 0px 7% 30px 0px;
    }
}