.contactBanner {
    background-image: url(../img/contact/contactUsImg.png);
    height: 400px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    padding: 5% 20%;
}

#sendFormButton {
    background-color: #eeba93;
    width: 100%;
    margin-top: 4%;
}

#message {
    resize: none;
}

#contactUsText {
    text-align: center;
}

.contactBanner {
    margin: 0;
}

#formMail {
    color: #681a1e;
}